@font-face {
    font-family: 'Calibre';
    src: url('/fonts/CalibreWeb-Semibold.eot');
    src: url('/fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CalibreWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/CalibreWeb-SemiboldItalic.eot');
    src: url('/fonts/CalibreWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CalibreWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('/fonts/Calibre-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/Calibre-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos';
    src: url('/fonts/Tiempos-Regular.eot');
    src: url('/fonts/Tiempos-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tiempos-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos';
    src: url('/fonts/Tiempos-RegularItalic.eot');
    src: url('/fonts/Tiempos-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tiempos-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos';
    src: url('/fonts/TiemposTextWeb-Semibold.eot');
    src: url('/fonts/TiemposTextWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TiemposTextWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos';
    src: url('/fonts/TiemposTextWeb-SemiboldItalic.eot');
    src: url('/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TiemposTextWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
