.img-hero {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top:-50px;
  filter: saturate(85%);
  opacity: .9;
  &::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($gray-dark, .3);
  }
}
