# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

backups

wp-admin
wp-includes


wp-content/plugins
wp-content/uploads
wp-content/backups
wp-content/backup-db
wp-content/cache
