<!-- <container> -->
  <row class="event">
  <columns small="12" large="9" class="content">
    <spacer size="20"></spacer>
    <div class="media">
      {{#if atBigDuck}}
      <img src="{{root}}assets/img/open-house.png"><h4>At Big Duck</h4>
      {{else}}
      <img src="{{root}}assets/img/{{topic}}.png"><h4>{{topic}}</h4>
      {{/if}}
    </div>
    <h3><a href="#"><span>{{title}}</span></a><h3>
      <spacer size="10"></spacer>
    <div class="media author">
      <img src="{{headshot}}"><h4>{{author}}</h4>
    </div>
  </columns>
  <columns small="0" large="2"></columns>
  <columns small="12" large="1">
      <spacer size="20"></spacer>
      <div class="event-date">
        <div class="">
          <spacer size="10"></spacer>
          <span class="month">{{month}}</span>
          <spacer size="3"></spacer>
          <span class="date">{{date}}</span>
        </div>
      </div>
  </columns>
</row>
<!-- </container> -->
<spacer size="30"></spacer>
