<!-- <container> -->
  <row class="event">
  <columns small="9" class="content">
    <spacer size="20">
    <div class="media">
      <img src="{{topicImage}}"><h4>{{topic}}</h4>
    </div>
    <h3><a href="#"><span>{{title}}</span></a><h3>
    <div class="media author">
      <img src="{{headshot}}"><h4>{{author}}</h4>
    </div>
  </columns>
  <columns small="2"></columns>
  <columns small="1" >
    <spacer size="20"></spacer>
    <div class="event-date">
      <div class="">
        <span class="month">{{month}}</span>
        <spacer size="3"></spacer>
        <span class="date">{{date}}</span>
      </div>
    </div>
  </columns>
</row>
<!-- </container> -->
<spacer size="30"></spacer>
