<wrapper class="footer">
  <spacer size="20"></spacer>
  <container>
    <row>
      <columns small="6">
        {{> logo}}
        <spacer size="20"></spacer>
        <div class="logo-text">Smart communications<br/>for nonprofits.</div>
      </columns>
      <columns small="6">
        <spacer size="20"></spacer>
        <ul>
          <li><a href="mailto:#">hello@bigducknyc.com</a></li>
          <li><a href="tel:#">718-237-9551</a></li>
          <li>20 Jay Street, Suite 524</li>
          <li>Brooklyn, Ny 11201</li>
        </ul>
      </columns>
    </row>
  </container>
  <spacer size="10"></spacer>
</wrapper>
