<wrapper class="footer">
  <spacer size="20"></spacer>
  <container>
    <row>
      <columns small="12" large="6">
        <img src="{{root}}assets/img/BD-Logo-white@2x.png" class="logo"></img>
        <spacer size="15"></spacer>
        <p class="logo-text">Smart communications<br/>for nonprofits.</p>
      </columns>
      <columns small="12" large="6">
        <spacer size="20"></spacer>
        <ul>
          <li><a href="mailto:#">hello@bigducknyc.com</a></li>
          <li><a href="tel:#">718-237-9551</a></li>
          <li>20 Jay Street, Suite 524</li>
          <li>Brooklyn, Ny 11201</li>
        </ul>
      </columns>
    </row>
  </container>
  <spacer size="10"></spacer>
</wrapper>
