.about h1 {
  margin-bottom: .5rem;
}
.values {
  position: relative;
  z-index: -1;
  color: $white;
  -webkit-font-smoothing: antialiased;
  padding-top: 3rem;
  padding-bottom: 3rem;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    top: -150px;
    left: 0;
    background-color: inherit;
  }
  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0;
  }
  ul {
    margin-top: 2rem;
  }
  li {
    margin-bottom: 2rem;
    &:last-child {
      border-bottom: none;
    }
  }

  h2 span {
    display: block;
  }
}

.active h2 a span {
  @extend .underline-change;
  transition: background-size .3s ease;
}

#jobs .active {
  h2 {
    @extend .color-change;
    @extend .underline-change;
  }
}

.collapse-block {
  padding: .75rem 0;

  .media {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    a:hover {
      @extend .color-change;
    }
  }
  .underline-change {
    background-size: 0 1px !important;
  }
  .svg {
    margin-right: 20px;
  }
  .collapse-content {
    transition: all 0.5s ease;
    display: block !important;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    .client-list {
      margin-left: 56px; //width of icon + margin
      margin-top: .25rem;
      margin-bottom: 0;
      transition: all 0.5s ease;
      @include media-breakpoint-up(md) {
        column-count: 2;
        column-gap: $grid-gutter-width-base;
      }
      li {
        padding-bottom: 3px;
        break-inside: avoid;
      }
    }
  }
  .active {
    svg {
      @extend .fill-change;
    }
    h3 a {
      @extend .color-change;
    }
    .underline-change {
      background-size: 100% 1px !important;
    }
  }

  .collapse-content.show {
    max-height: 6000px;
  }
}

.team-member {
  display: block;
  margin: 1rem 0 2rem;

  .col-image {
    position: relative;
    background-color: $gray-light;
    transition: all .3s ease;
    // opacity: .8;

    &::before {
      @extend .bg-change;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: background-color 1s ease, opacity .3s ease !important;
      z-index: 3;
    }
  }

  .featured-image {
    opacity: .8;
    transition: all .3s ease;
    filter: grayscale(0%);
    height: 169px;
  }

  &:hover {
    .featured-image {
      filter: grayscale(90%);
    }
    .col-image::before {
      opacity: 0.85;
    }
    .col-image {
      opacity: 1;
    }
  }
}

.about {
  .menu.subnav {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  hr {
    border-color: $black;
    .block-overlap .col-text {
      width: 70%;
    }
  }
}
