@for $i from 1 through length($duck-colors) {
  .color-#{$i} {
    transition: background-color 1s ease;
    background-color: nth($duck-colors, $i);

    .bg-change {
      //background-color: blue;
      transition: background-color 1s ease;
      background-color: nth($duck-colors, $i);
    }

    .color-change {
      transition: color 1s ease;
      color: nth($duck-colors, $i);
    }
    .underline-change {
      transition: background-image 1s ease, background-size .3s ease;
      background-image: linear-gradient(
        nth($duck-colors, $i),
        nth($duck-colors, $i)
      );
      background-position: center 90%;
      background-repeat: no-repeat;
      background-size: 100% 1px;
    }
    .border-change {
      transition: border 1s ease;
      border-color: nth($duck-colors, $i);
    }

    .fill-change path {
      transition: fill 1s ease;
      fill: nth($duck-colors, $i);
    }
    a:hover .hover-color {
      transition: color 1s ease;
      color: nth($duck-colors, $i);
    }
  }
}
