.events{
  .page-title{
    margin-bottom: 2rem;
    h1{
      margin-bottom: 0;
    }
  }
}
.card.event-date {
  color: #1E1E1E;
  font-family: Calibre;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  background-color: $gray-lighter;
  .card-header {
    background-color: transparent;
    border: none;
    padding-bottom: 0.25rem;
  }
  .card-text {
    text-align: center;
    font-size: 70px;
    background-color: transparent;
  }
}

.event-time, .event-registration {
  font-family: Calibre;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.event-time {
  color: #1E1E1E;
}
