#header {
  background-color: $white;
  padding: .5rem 0;
  transition: height .3s ease;
  height: 130px;
  will-change: height;
  position: fixed;
  margin-bottom: 100px;
  top: 0px;
  z-index: 30;
  width: 100%;
  min-height: 0;

  .navbar-brand .tagline {
    @include media-breakpoint-only(lg) {
      opacity: 0;
      width: 0;
    }
  }
  .tagline {
    @extend .colorChange;
    color: nth($duck-colors, 1);
    -webkit-font-smoothing: antialiased;
    margin-top: .2rem;
    font-size: 18px;
  }

  #logo {
    @extend .fillChange;
  }
}
.homepage #header {
  background-color: $gray-lightest;
}

.navbar-brand {
  white-space: normal;
  transition: transform .5s ease;
  transform-origin: left top;
  will-change: transform;
  @include media-breakpoint-up(sm) {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
  }

  svg {
    width: 134px;
    height: 80px;
  }

  .tagline {
    max-width: 180px;
    margin-top: 0;
    transform: translateY(2px);
    font-size: 18px;
    @include media-breakpoint-up(sm) {
      margin-left: 20px;
    }
  }
}

//styles for the 🍔 icon
.navbar-toggler {
  z-index: 90;
  border-width: 0;
  padding: 0;
  right: 5px;
  top: 15px;

  .navbar-toggler-icon {
    background-image: none;
    position: relative;
    margin-top: 12px;
    height: 4px;
    background-color: $gray-darker;
    width: 26px;
    transition: all .2s ease;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 4px;
      background-color: $gray-darker;
      width: 100%;
      transition: all .2s ease;
      transform-origin: center center;
    }
    &::before {
      top: -8px;
    }
    &::after {
      top: -16px;
    }
  }
}

#main-menu {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    align-self: flex-start;
    max-height: none;
    overflow: visible;
  }
  ul {
    margin-top: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .nav-item {
    position: relative;
    & > .nuxt-link-active, &:hover {
      opacity: 1;
      + .nav-text {
        opacity: 1;
      }
    }
    &.nuxt-link-active span {
      background-size: 100% 5px !important;
    }
    &:hover {
      & > a {
        opacity: 1;
        + .nav-text {
          opacity: 1;
        }
      }
    }
  }
  .nav-link {
    color: $gray-darker;
    opacity: .5;
    transition: opacity .4s ease;
    font-size: 1.4rem;

    @include media-breakpoint-up(lg) {
      padding: .25rem 1rem;
      font-size: 1rem;
    }
    span {
      // @extend .underlineChange;
      transition: background-size .4s ease;
      background-size: 0%;
      display: inline-block;
    }
    &.nuxt-link-active {
      span {
        @extend .underlineChange;
      }
    }
    &:hover {
      span {
        @extend .underlineChange;
        background-size: 100% 1px;
        transition: all .3s ease;
      }
    }
  }
  .nav-text {
    @extend .label;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      width: 6rem;
      z-index: 1;
      left: 1rem;
      opacity: 0;
      transition: opacity .4s ease;
    }
  }
}

.nav-link {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

#header.nav-open {
  @extend .bgChange;
  background-color: nth($duck-colors, 1);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  .navbar-toggler-icon {
    background-color: transparent;
    &::before {
      background-color: $white;
      transform: rotate(-45deg);
    }
    &::after {
      background-color: $white;
      top: -8px;
      transform: rotate(45deg);
    }
  }
  #main-menu {
    max-height: 1000px;
    .nav-link {
      color: $white;
      opacity: 1;
      span {
        background-image: linear-gradient($white, $white);
        animation: none;
      }
    }
  }
  svg path {
    fill: $white !important;
  }
  .tagline {
    color: $white;
  }
}

#header.small-nav:not(.nav-open) {
  background-color: $white;
  padding: 0;
  box-shadow: 0px 0px 10px 0px rgba($black, 0.1);
  height: 75px;
  .navbar-brand {
    transform: scale(0.6);

    svg {
      // width: 60px;
      // height: 36px;
    }
    .label {
      opacity: 0;
      height: 0;
    }
  }

  #main-menu .nav-text {
    opacity: 0;
  }
}

header.hovering #main-menu .nuxt-link-active + .nav-text {
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

button.navbar-toggler:focus {
  outline: none;
}
