body {
  //overflow-x: hidden;
}
.page-wrapper {
  position: relative;
  z-index: 1;
  background-color: $gray-lightest;
  // overflow-x: visible;
}
#main {
  padding-top: 140px;
  min-height: calc(100vh - 180px);
  //overflow-x: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 180px;
  }
}

.container {
  @include media-breakpoint-down(xs) {
    width: 100%; //needed to add this for form elements on xs screens. bootstrap glitch?
  }
}

.subnav {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  margin-left: 0.5rem;
  margin-top: 1rem;
  z-index: 25;

  .nav-link {
    text-transform: inherit;
    letter-spacing: initial;
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
    span {
      @extend .underline-change;
      background-size: 0% 1px;
      background-position: center 94%;
      transition: background-size 0.3s;
    }
    &:hover,
    &.active {
      span {
        background-size: 100% 1px;
      }
    }
    &.active {
      @extend .color-change;
    }
  }
}

#footer-callout {
  z-index: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .footer-content {
    padding: 5rem 0;
    margin: 0 auto;
  }

  .link-privacy {
    color: white;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
  .btn-tertiary {
    background-color: $gray-darker;
    color: white;
    &:hover {
      background-color: white;
      @extend .color-change;
    }
  }
}

#footer {
  background-color: $inverse-bg;
  color: $white;
  padding: 2rem 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  & > div {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-content: flex-end;
    }
  }
  .navbar-brand {
    margin: 0;
    &:hover {
      cursor: pointer;
    }

    #logo {
      fill: white;
    }
    .tagline {
      @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
        font-weight: 700;
        max-width: 300px;
      }
    }
  }
  .contact-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      flex-direction: row;
    }
  }
  .social-media {
    margin-bottom: 0;
    display: flex;
    order: 2;
    margin-top: 1rem;
    @include media-breakpoint-up(md) {
      margin-top: 2px;
      order: 0;
      flex-direction: column;
      justify-content: space-between;
    }
    a {
      display: block;
      margin-bottom: 3px;
    }

    svg {
      display: block;
      fill: $white;
      width: 20px;
      height: 20px;
      margin-right: 1.25rem;
    }
  }
  h4,
  a {
    color: $white;
  }
  address,
  h4 {
    margin-bottom: 0;
  }
  a:hover {
    @extend .color-change;
    @extend .fill-change;
  }
}

.round {
  border-radius: 50%;
}

.background-transparent {
  background-color: transparent;
}

.no-border {
  border: none;
}

//SHARED Page classes

.overlap {
  position: relative;
  //margin-top: -80px;
  @include media-breakpoint-up(md) {
    margin-top: -200px;
  }
}

article.main,
article.gated-content {
  background-color: white;
  padding: 1.5rem;
  margin-left: -($grid-gutter-width-base/2);
  margin-right: -($grid-gutter-width-base/2);
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: 3rem 3.75rem;
    margin-left: 0px;
    margin-right: 0px;
  }
  .badge-group {
    .badge {
      margin-bottom: 1rem;
    }
    // & + * {
    //   margin-top: 0.5rem;
    // }
  }
  h1 {
    margin-bottom: 1rem;
  }
}

article.gated-content {
  //padding-top: 0px;
  border-top: 1px solid $gray-lightest;
}

.filter-list {
  @include media-breakpoint-only(md) {
    display: none;
  }
}
