aside {
  h4, em {
    font-family: $font-family-sans-serif;
  }
  p {
    line-height: 1;
  }
  em {
    font-style: normal;
    font-size: $font-size-sm;
  }
  h4 {
    font-size: $font-size-xs;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  div {

  }
}

.overview-link  {
  @extend .underlineChange;
  line-height: 1.5;
  &:hover {
    @extend .colorChange;
  }
}

.team .overlap {
  @include media-breakpoint-up(md) {
    margin-top: -100px;
  }
}

.badge.social {
  align-items: baseline;
}
