.about-slug{
  aside {
    @include media-breakpoint-up(lg){
      padding-left: .8rem;
    }

    .label p {
      font-size: .9rem;
      line-height: 1.2;
    }
    em {
      font-style: normal;
    }
  }

  .badge.social {
    transform: translateY(3px);
    svg{
      margin-right: .3rem;
      width: 1rem;
      height: 1rem;
    }
  }
}


.team .overlap {
  @include media-breakpoint-up(md) {
    margin-top: -100px;
  }
}
