.work-slug{
  .cs-intro{
    h5{
      font-size: .9rem;
      line-height: 1.5;
    }
    p{
      font-size: .9rem;
      margin-bottom: 1.5rem;
      &:last-child{
        @include media-breakpoint-up(lg){
          margin-bottom: 0;
        }
      }
    }
    aside{
      @include media-breakpoint-up(lg){
        padding-left: .8rem;
      }
    }
  }
  .service-list{
    li{
      margin-bottom: .5rem;
    }
  }
}
.cs-block-callout{
  margin-top: 3rem;
  align-items: center;
  @include media-breakpoint-up(lg){
    min-height: 700px;
  }
  h2, p{
    color: $white;
    -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  .col-img{
    min-height: 400px;
    .bg-img{
      min-height: 400px; //needed to add this due to flexbox bug in safari with child having 100% height
    }
    @include media-breakpoint-up(md){
      order:2;
    }
    @include media-breakpoint-up(lg){
      min-height: 700px;
      .bg-img{
        min-height: 700px; //needed to add this due to flexbox bug in safari with child having 100% height
      }
    }
  }
  .col-text{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(md){
      order:1;
    }
  }
  .bg-img{
    height: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include media-breakpoint-up(md){
      margin-left:0;
      margin-right: calc(100% - 50vw + 15px); //calc for image to just bust out on 1 side
    }
  }
}
.cs-block-factoid{
  margin: 2rem 0;
  border-left: .5rem solid nth($duck-colors, 1);
  @extend .border-change;
  padding: .5rem 1.5rem .25rem;
  display: inline-block;
  h1{
    margin-bottom: -.125rem;
    padding-right: 1rem;
  }
  h6{
    width: min-content; //this is what's used for getting the h6 to be as wide as the h1
    min-width: 100%;
    p{
      font-size: inherit;
      margin-bottom: 0;
    }
  }
}
