.page-enter-active, .page-leave-active {
  transition: opacity .3s;
  #content, article.main {
    transition: transform .3s ease-in-out;
  }
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter {
  opacity: 0;
  #content, article.main {
    transform: translateY(100px);
  }
}
.page-leave-to {
  opacity: 0;
  #content, article.main {
    transform: translateY(100px);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.down-enter-active, .down-leave-active {
  transition: opacity .3s ease, transform .3s ease-in-out;
}
.down-enter, .down-leave-to {
  opacity: 0;
  transform: translateY(-500px);
}

// Load in animation
#content {
  animation: fadeInUpBig 0.5s both;
  animation-delay: 0.6s;
}

body {
  animation: fadeIn 0.9s both;
}

.filter-bar {
  animation: fadeIn 0.5s both;
  animation-delay: 1s;
}

.jumbotron#hero-animation {
  h1 {
    @for $i from 1 through 10 {
    > span:nth-child(#{$i}) {
        animation: fadeIn 0.5s both;
        animation-delay: ($i * .1s) + 1s;
      }
    }
    .cursor-wrapper {
      display: inline;
      animation: fadeIn 0.5s both;
      animation-delay: 2.3s;
    }
  }
  .btn-primary {
    animation: fadeIn 0.5s both;
    animation-delay: 2.5s;
  }
  .linebreak {
    display: none;
      @include media-breakpoint-down(xs) {
        display: inline;
      }
  }
}

#below-hero-animation {
  animation: fadeIn 0.5s both;
  animation-delay: 3s;
}

header#header {
  animation: fadeIn 0.5s both;
  //animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0.0001;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-8px);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0.0001;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.0001;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBody {
  0% {
    opacity: 0.0001;
  }
  100% {
    opacity: 1;
  }
}

//
// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
//   opacity: 0;
// }
//
// .slide-enter-active, .slide-leave-active {
//   transition: opacity .5s, transform .8s ease-in;
//   transform: translateX(0px);
// }
// .slide-enter {
//   opacity: 0;
//   transform: translateX(0px);
// }
//
// .slide-leave-to {
//   opacity: 0;
//   transform: translateX(-1000px);
// }
//
//
//
//
//
// .slideUp-enter-active {
//   animation: slide-up .5s ease-in;
//   transition: opacity .5s;
// }
//
// .slideUp-enter {
//   // opacity: 0;
// }
//

//
// @keyFrames slide-up {
//   0% {
//     top: 100vh;
//   }
//   100% {
//     top: -300px;
//   }
// }
//
// @keyFrames slide-right {
//   0% {
//     left: 0px;
//   }
//   100% {
//     left: 100vw;
//   }
// }

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
}
