.page-enter-active, .page-leave-active {
  transition: opacity .5s, transform .5s ease-in-out;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter {
  opacity: 0;
  transform: translateY(100px);
}
.page-leave-to {
  opacity: 0;
  transform: translateY(100px);
}


@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  100%{
    opacity: 1;
    transform: translateY(-8px);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

//
// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
//   opacity: 0;
// }
//
// .slide-enter-active, .slide-leave-active {
//   transition: opacity .5s, transform .8s ease-in;
//   transform: translateX(0px);
// }
// .slide-enter {
//   opacity: 0;
//   transform: translateX(0px);
// }
//
// .slide-leave-to {
//   opacity: 0;
//   transform: translateX(-1000px);
// }
//
//
//
//
//
// .slideUp-enter-active {
//   animation: slide-up .5s ease-in;
//   transition: opacity .5s;
// }
//
// .slideUp-enter {
//   // opacity: 0;
// }
//

//
// @keyFrames slide-up {
//   0% {
//     top: 100vh;
//   }
//   100% {
//     top: -300px;
//   }
// }
//
// @keyFrames slide-right {
//   0% {
//     left: 0px;
//   }
//   100% {
//     left: 100vw;
//   }
// }
