@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './fonts.scss';
@import './animations.scss';
@import './_colors.scss';
@import './layout.scss';
@import './header.scss';
@import './flickity.css';
@import './insights-detail.scss';
@import './events.scss';
@import './work-detail.scss';
@import './about.scss';
@import './services-index.scss';
@import './team-member.scss';
@import './_components/block-overlap.scss';
@import './_components/block-service.scss';
@import './_components/callouts.scss';
@import './_components/chat-bubbles.scss';
@import './_components/filters.scss';
@import './_components/flickity.scss';
@import './_components/img-hero.scss';
@import './_components/share.scss';
@import './_components/jumbotron.scss';
@import './_components/block-work.scss';
@import './_components/testimonial.scss';
@import './_components/search.scss';

@import './_contact.scss';

.sidebar {
  a {
    color: black;
    text-transform: uppercase;

    div {
      text-align: left;
    }
  }
}

.featured-image {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.break-container {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc((50% - 50vw)* -1);
  padding-right: calc((50% - 50vw)* -1);
}
@for $i from 1 through length($duck-colors) {
  .color-#{$i}{
    ::selection {
      background-color: nth($duck-colors, $i);
      color: white;
    }
    ::-moz-selection {
      background-color: nth($duck-colors, $i);
      color: white;
    }
  }
}

// ::-moz-selection {
//   background-color: $gray-darker;
//   color: white;
// }

//TYPOGRAPHY
html {
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  @media (min-width: 1900px) {
    // font-size: 21px;
    .container {
      width: 1000px;
    }
  }
}
h1 {
  margin-bottom: 1.5rem;
  line-height: .98;
  p {
    font-size: inherit;
  }

  @include media-breakpoint-down(xs) {
    font-size: 2.5rem;
  }
}
h5 {
  font-family: $font-family-serif;
  font-weight: 600;
}

h6,
.h6 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.display-2 {
  @include media-breakpoint-down(lg) {
    font-size: 3.5rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 3.25rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3rem;
  }
  @media (max-width: 376px) {
    font-size: 2.5rem;
  }
}

b,
strong {
  font-weight: 600;
}
h1, h2, h3, h4{
  b,
  strong {
    font-weight: 700;
  }
}

//BUTTONS AND BADGES

.badge {
  @extend .h6;
  margin-bottom: 0;
  padding: 0;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  img,
  svg {
    margin-right: .5rem;
    width: 24px;
    height: auto;
  }
  // .author-img {
  //   width: 40px;
  // }

  &.underline-change {
    // background-position: center 75% !important;
    transition: all .3s ease;
    &:hover {
      @extend .color-change;
    }
  }
}
.badge-group {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
  }
  .badge {
    margin-bottom: .5rem;
  }
}

label,
.label,
.figure-caption,
.social-handle a {
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
}

.label-lg {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;
  cursor: pointer;
}

.btn-primary {
  @extend .bg-change;
  background-color: nth($duck-colors, 1);
  -webkit-font-smoothing: antialiased;
  &:hover {
    transition: background-color .3s ease, color 1s ease, border 1s ease !important;
    background-color: $white;
    @extend .color-change;
  }
}

.btn-secondary {
  @extend .color-change;
  &:hover {
    background-color: $gray-darker;
  }
}

.btn-info:hover {
  background-color: $white;
  color: $gray-darker;
}

//FORMS
.form-control {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  &:focus {
    @extend .border-change;
  }
}
.form-control-feedback {
  font-size: .8rem;
}
.custom-control {
  align-items: center;
}

.form-light {
  background-color: white;
  border-top: 1px solid $gray-lightest;
  padding: 2.5rem;

  margin-left: -$grid-gutter-width-base/2;
  margin-right: -$grid-gutter-width-base/2;

  @include media-breakpoint-up(md) {
    margin-left: 0px;
    margin-right: 0px;
  }

  // margin-bottom: 3rem;
  @include media-breakpoint-up(md) {
    padding: 3rem 3.75rem;
  }
  .form-control, .custom-control-indicator {
    background-color: $gray-lightest;
  }
  .btn {
    @extend .btn-primary;
    color: $white !important;
    &:hover {
      background-color: $gray-darker;
      transition: background-color .3s ease !important;
    }
  }
}

//IMAGES

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.img-multiply {
  mix-blend-mode: multiply;
}
.author-img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.desaturate {
  filter: saturate(0%);
}

.full-width {
  width: 100%;
}

.bg-white {
  background: $white;
}

.author-no-img {
  height: 45px;
  span {
    align-self: center;
  }
}

.author-listing {
  display: flex;
  flex-wrap: wrap;
  div {
    margin-right: 1rem;
  }
  // div {
  //   display: inline-block;
  // }
}

.overview-link {
  height: 1.2rem;
  @extend .underline-change;
  &:hover {
    @extend .color-change;
  }
}

.chat-bubble {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.event .col-text {
  @include media-breakpoint-only(md) {
    width: 75%;
  }
}

.error-page {
  margin-top: 10vh;
  margin-bottom: calc(10vh + 50px);
  text-align: center;
}
.ascii-duck {
  margin: 3rem 0;
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
    line-height: .9;
    &:nth-child(2) {
      margin-left: .9rem;
    }
  }
}
.bill-wrapper {
  animation-name: quack;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: right center;
  display: inline-block;
  animation-delay: .5s;
  span {
    @extend .color-change;
    display: inline-block;
  }
}

@keyframes quack {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

.job-description {
  margin-top: 1rem;
}
