@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './fonts.scss';
@import './animations.scss';
@import './_colors.scss';
@import './layout.scss';
@import './header.scss';
@import './flickity.css';
@import './insights-detail.scss';
@import './work-detail.scss';
@import './_components/block-insights.scss';
@import './_components/block-service.scss';
@import './_components/callouts.scss';
@import './_components/chat-bubbles.scss';
@import './_components/filters.scss';
@import './_components/img-hero.scss';
@import './_components/share.scss';
@import './_components/jumbotron.scss';
@import './_components/block-work.scss';
@import './_components/testimonial.scss';
@import './_components/search.scss';

@import './_contact.scss';

.sidebar {
  a {
    color: black;
    text-transform: uppercase;

    div {
      text-align: left;
    }
  }
}

.featured-image{
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  // opacity: .8;
  // transition: all .3s ease;
  // filter: grayscale(0%);
}

.break-container{
  padding-left: 5000px;
  padding-right: 5000px;
  margin-left: -5000px;
  margin-right: -5000px;
}

::selection{
  @extend .bgChange;
  color: white;
}

//TYPOGRAPHY
html {
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  @media (min-width:1900px){
    font-size: 21px;
    .container{
      width: 1100px;
    }
  }
}
h1{
  margin-bottom: 1.5rem;
  p{
    font-size: inherit;
  }
}
h5{
  font-family: $font-family-serif;
  font-weight: 600;
}

h6, .h6{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p{
  font-size: 1.1rem;
}

//BUTTONS AND BADGES

.badge{
  @extend .h6;
  margin-bottom: 0;
  padding: 0;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  img, svg{
    margin-right: .5rem;
    width: 24px;
    height: auto;
  }
  .author-img{
    width: 40px;
  }

  &.underlineChange{
    background-position: center 100% !important;
    transition: all .3s ease;
    &:hover{
      @extend .colorChange;
    }
  }
}
.badge-group{
  display: flex;
}

label, .label{
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
}

.label-lg{
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn{
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;
  padding-top: .7rem;
}

.btn-primary{
  @extend .bgChange;
  background-color: nth($duck-colors, 1);
  -webkit-font-smoothing: antialiased;
  &:hover{
    transition: background-color .3s ease, color 1s ease, border 1s ease !important;
    background-color: $white;
    @extend .colorChange;
  }
}

.btn-secondary{
  @extend .colorChange;
  &:hover{
    background-color: $gray-darker;
  }
}

.btn-info:hover{
  background-color: $white;
  color: $gray-darker;
}

//FORMS
.form-control{
  font-family: $font-family-serif;
}


//IMAGES

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.img-multiply{
  mix-blend-mode: multiply;
}
.desaturate {
  filter: saturate(0%);
}

.full-width {
  width: 100%;
}

.overflow-x-visible .page-wrapper{
  overflow-x: visible;
}



.card.event-date {
  color: #1E1E1E;
  font-family: Calibre;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  background-color: $gray-lighter;
  .card-header {
    background-color: transparent;
    border: none;
    padding-bottom: 0.25rem;
  }
  .card-text {
    text-align: center;
    font-size: 70px;
    background-color: transparent;
  }
}

.event-time, .event-registration {
  font-family: Calibre;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.event-time {
  color: #1E1E1E;
}
