@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './fonts.scss';
@import './animations.scss';
@import './_colors.scss';
@import './layout.scss';
@import './header.scss';
@import './flickity.css';
@import './insights-detail.scss';
@import './events.scss';
@import './work-detail.scss';
@import './about.scss';
@import './rich-text.scss';
@import './services-index.scss';
@import './team-member.scss';
@import './_components/block-overlap.scss';
@import './_components/block-service.scss';
@import './_components/callouts.scss';
@import './_components/chat-bubbles.scss';
@import './_components/filters.scss';
@import './_components/flickity.scss';
@import './_components/img-hero.scss';
@import './_components/share.scss';
@import './_components/jumbotron.scss';
@import './_components/block-work.scss';
@import './_components/testimonial.scss';
@import './_components/search.scss';

@import './_contact.scss';

.sidebar {
  a {
    color: black;
    text-transform: uppercase;

    div {
      text-align: left;
    }
  }
}

.featured-image {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  // opacity: .8;
  // transition: all .3s ease;
  // filter: grayscale(0%);
}

.break-container {
  @include media-breakpoint-up(sm) {

    padding-left: 5000px;
    padding-right: 5000px;
    margin-left: -5000px;
    margin-right: -5000px;
  }
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

::selection {
  @extend .bgChange;
  color: white;
}

//TYPOGRAPHY
html {
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  @media (min-width: 1900px) {
    font-size: 21px;
    .container {
      width: 1100px;
    }
  }
}
h1 {
  margin-bottom: 1.5rem;
  p {
    font-size: inherit;
  }

  @include media-breakpoint-down(xs) {
    font-size: 2.5rem;
  }
}
h5 {
  font-family: $font-family-serif;
  font-weight: 600;
}

h6, .h6 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 1.1rem;
}

.display-2 {
  @include media-breakpoint-down(lg) {
    font-size: 3.5rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 3.25rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3rem;
  }
  @media (max-width: 376px) {
    font-size: 2.5rem;
  }
}

//BUTTONS AND BADGES

.badge {
  @extend .h6;
  margin-bottom: 0;
  padding: 0;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  img, svg {
    margin-right: .5rem;
    width: 24px;
    height: auto;
  }
  .author-img {
    width: 40px;
  }

  &.underlineChange {
    // background-position: center 75% !important;
    transition: all .3s ease;
    &:hover {
      @extend .colorChange;
    }
  }
}
.badge-group {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
  }
}

label, .label, .figure-caption, .social-handle a {
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
}

.label-lg {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;
  cursor: pointer;
}

.btn-primary {
  @extend .bgChange;
  background-color: nth($duck-colors, 1);
  -webkit-font-smoothing: antialiased;
  &:hover {
    transition: background-color .3s ease,
      color 1s ease,
      border 1s ease !important;
    background-color: $white;
    @extend .colorChange;
  }
}

.btn-secondary {
  @extend .colorChange;
  &:hover {
    background-color: $gray-darker;
  }
}

.btn-info:hover {
  background-color: $white;
  color: $gray-darker;
}

//FORMS
.form-control {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  &:focus {
    @extend .borderChange;
  }
}
.form-control-feedback {
  font-size: .8rem;
}
.custom-control {
  align-items: center;
}

.form-light {
  background-color: white;
  border-top: 1px solid $gray-lightest;
  padding: 2.5rem;

  margin-left: -$grid-gutter-width-base/2;
  margin-right: -$grid-gutter-width-base/2;

  @include media-breakpoint-up(md) {
    margin-left: 0px;
    margin-right: 0px;
  }

  // margin-bottom: 3rem;
  @include media-breakpoint-up(md) {
    padding: 3rem 3.75rem;
  }
  .form-control {
    background-color: $gray-lightest;
  }
  .btn {
    @extend .btn-primary;
    color: $white !important;
    &:hover {
      background-color: $gray-darker;
      transition: background-color .3s ease !important;
    }
  }
}

//IMAGES

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.img-multiply {
  mix-blend-mode: multiply;
}
.author-img {
  width: 45px;
  height: 45px;
}
.desaturate {
  filter: saturate(0%);
}

.full-width {
  width: 100%;
}

.bg-white {
  background: $white;
}

.author-no-img {
  height: 45px;
  span {
    align-self: center;
  }
}

.author-listing {
  display: flex;
  flex-wrap: wrap;
  div {
    margin-right: 1rem;
  }
  // div {
  //   display: inline-block;
  // }
}

.badge-group  {
  // margin-bottom: 0px;
  // padding-bottom: 0;
  .badge {
    margin-bottom: .75rem;
  }
  // & + * {
  //   margin-top: 0.5rem;
  // }
}

.chat-bubble {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.event .col-text {
  @include media-breakpoint-only(md) {
    width: 75%;
  }
}

.overview-link {
  min-height: 22px;
  @include media-breakpoint-up(lg) {
    min-height: 25px;
  }
}
