.block-overlap {
  margin-bottom: 2rem;
  min-height: 310px;

  margin-left: -($grid-gutter-width-base);
  margin-right: -($grid-gutter-width-base);
  @include media-breakpoint-up(sm) {
    margin: 0;
    margin-bottom: 6rem;
  }

  a {
    position: relative;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  .col-image {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: $gray-light;
    transition: all .3s ease;

    @include media-breakpoint-up(sm) {
      width: 60%;
      height: 100%;
      position: absolute;
    }

    &::before {
      @extend .bg-change;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: background-color 1s ease, opacity .3s ease;
      z-index: 3;
    }
  }
  .col-text {
    // z-index: 4;
    transition: all .3s ease;
    @include media-breakpoint-up(sm) {
      width: 60%;
      position: relative;
    }
    @include media-breakpoint-up(md) {
      min-height: 310px;
    }
  }

  &.even-block {
    .col-image {
      @include media-breakpoint-up(sm) {
        order: 2;
        right: 0;
        top: 2.5rem;
      }
    }
  }
  &.odd-block {
    .col-text {
      @include media-breakpoint-up(sm) {
        margin-left: auto;
        position: relative;
        top: 2.5rem;
      }
    }
  }

  &.first-block {
    @include media-breakpoint-up(sm) {
      margin-bottom: 4rem;
    }
    a {
      align-items: center;
    }
    .card-title {
      font-size: 2.25rem;
    }
    .col-image {
      height: 250px;
      @include media-breakpoint-up(sm) {
        position: relative;

        flex-basis: 75%;
        width: 60%;
        height: 21rem;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        width: 40%;
      }
      @media (min-width: 1900px) {
        height: 24rem;
      }
    }
    .col-text {
      @include media-breakpoint-up(sm) {
        position: absolute;
        width: 75%;
        right: 0;
        min-height: 0;
      }

      @include media-breakpoint-up(xl) {
        width: 60%;
      }
    }
  }

  .featured-image {
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .8;
    transition: all .3s ease;
    filter: grayscale(0%);
  }

  .card {
    height: 100%;
    justify-content: center;
  }

  .card-title {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }

  .card-block {
    flex: initial;
  }
  .card-footer {
    padding: 0;
    padding-top: 1rem;
    position: relative;
  }

  .chat-bubble {
    position: absolute;
    bottom: 1.5rem;
    transform: translateX(-100%);
    left: .8rem;
    opacity: 0;
    transition: all .3s ease;
    span {
      @extend .h6;
      color: $white;
      margin-bottom: 0;
      padding: .25rem 0;
      display: block;
      transform: translateY(-.1rem);
    }
    &::before {
      right: .75rem;
      left: auto;
      border-width: 0 .75rem .75rem 0;
      border-color: transparent $inverse-bg transparent transparent;
    }
  }
  a:hover {
    .featured-image {
      filter: grayscale(90%);
    }
    .col-image::before {
      opacity: 0.85;
    }
    .col-image {
      transform: translateY(.5rem);
    }
    .col-text {
      transform: translateY(-.5rem);
    }
    .chat-bubble {
      opacity: 1;
      bottom: 1.7rem;
    }
  }
}
.card-block{
  padding: 1rem;
  @include media-breakpoint-up(lg){
    padding: 1.5rem;
  }
  p, .card-text {
    margin-bottom: 0;
    font-size: .9rem;
  }
}


.block-overlap.block-event {
  .card {
    flex-direction: row;
  }
  .card-block {
    align-self: center;
    flex-grow: 1;
  }
  .event-date {
    margin: 1rem;
    @include media-breakpoint-up(lg){
      margin: 1.5rem;
    }
  }
  a:hover {
    .event-date {
      @extend .bg-change;
    }
  }

  .col-text {
    @include media-breakpoint-up(md) {
      width: 75%;
    }

    @include media-breakpoint-up(xl) {
      width: 60%;
    }
  }
}
