.nav-work {
  margin-left: -($grid-gutter-width-base / 2);
  margin-right: -($grid-gutter-width-base / 2);
}

.block-work-featured {
  margin-left: -($grid-gutter-width-base / 2);
  margin-right: -($grid-gutter-width-base / 2);
  a {
    display: flex;
    padding: 1rem 0;
    min-height: 450px;
    position: relative;
    color: $white;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    transition: all .4s ease;
  }

  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    transition: all .4s ease;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .85;
    transition: all .4s ease;
  }
  .badge-group {
    margin-bottom: 1.5rem;
  }

  h1,
  p,
  .badge {
    color: $white;
  }
  svg path {
    fill: $white;
  }

  a:hover {
    min-height: 520px;
    .bg-img {
      filter: grayscale(0);
    }
    .overlay {
      background-color: rgba($black, .3) !important;
    }
  }
}

.block-work-small {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: -$grid-gutter-width-base;
  margin-right: -$grid-gutter-width-base;
  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    position: relative;
    z-index: 3;
    flex-grow: 1;
    transition: all .3s ease;
    @include media-breakpoint-up(xl) {
      margin: -1.25rem 1rem 0;
    }
    @media (min-width: 1400px) {
      margin: -1.75rem 1.5rem 0;
    }
  }
  .card-block {
    padding: 1rem;
    @include media-breakpoint-up (lg) {
      padding: 1.5rem;
    }
  }

  .card-title {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
  .img-wrapper {
    position: relative;
    &::before {
      @extend .bg-change;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: background-color 1s ease, opacity .3s ease !important;
      z-index: 3;
    }
  }

  &:hover {
    .card {
      transform: translateY(-.5rem);
    }
    img {
      filter: grayscale(90%);
    }
    .img-wrapper::before {
      opacity: 0.85;
    }
  }
}

.nav-pills {
  margin-top: -20px;
  background-color: rgba($white, .5);
  @include media-breakpoint-up(md) {
    margin-top: -50px;
  }
  .nav-item {
    font-size: .9rem;
  }
  .nuxt-link-exact-active {
    background-color: $gray-darker;
    color: $white;
    -webkit-font-smoothing: antialiased;
  }

  .nav-link {
    line-height: 1;

    &:not(.nuxt-link-active) {
      &:hover {
        background-color: $gray-lightest;
        color: black;
      }
    }
  }
}

.work-all .nav-pills {
  margin-bottom: 50px;
}
