.author-img{
  width: 45px;
  height: 45px;
}

.block-insights{
  margin-bottom: 2rem;
  min-height: 350px;
  @include media-breakpoint-up(sm){
    margin-bottom: 6rem;
  }

  a {
    position: relative;
    @include media-breakpoint-up(sm){
      display: flex;
    }
  }

  .col-image{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: $gray-light;
    opacity: .9;
    transition: all .3s ease;

    @include media-breakpoint-up(sm){
      width: 60%;
      height: 100%;
      position: absolute;
    }

    &::before{
      @extend .bgChange;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: background .8s ease, opacity .3s ease;
      z-index: 3;
    }
  }
  .col-text{
    z-index: 4;
    transition: all .3s ease;
    @include media-breakpoint-up(sm){
      width: 60%;
      position: relative;
    }
    @include media-breakpoint-up(md){
      min-height: 350px;
    }
  }

  &.even-block{
    .col-image{
      @include media-breakpoint-up(sm){
        order: 2;
        right: 0;
        top: 2.5rem;
      }

    }
  }
  &.odd-block{
    .col-text{
      @include media-breakpoint-up(sm){
        margin-left: auto;
        position: relative;
        top: 2.5rem;
      }
    }
  }

  &.first-block{
    @include media-breakpoint-up(sm){
      margin-bottom: 4rem;
    }
    a{
      align-items: center;
    }
    .card-title{
      font-size: 2.25rem;
    }
    .col-image{
      height: 250px;
      @include media-breakpoint-up(sm){
        position: relative;
        flex-basis: 75%;
        width: 40%;
        height: 21rem;
        margin-bottom: 0;
      }
      @media (min-width:1900px){
        height: 24rem;
      }
    }
    .col-text{
      @include media-breakpoint-up(sm){
        position: absolute;
        width: 60%;
        right: 0;
      }
    }
  }

  &[type=articles]{
    .badge-type{
      display: none;
    }
  }


  .featured-image{
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .8;
    transition: all .3s ease;
    filter: grayscale(0%);
  }

  .card{
    height: 100%;
    justify-content: center;
  }

  .card-title{
    margin-bottom: .25rem;
  }
  .badge-group{
    padding-bottom: 1rem;
    display: flex;
  }
  .card-block{
    flex: initial;
  }
  .card-footer{
    padding: 0;
    padding-top: 1rem;
    position: relative;
  }
  .card-text p{
    margin-bottom: 0;
    font-size: .9rem;
  }

  .chat-bubble{
    position: absolute;
    bottom: 1.5rem;
    transform: translateX(-100%);
    left: .8rem;
    opacity: 0;
    transition: all .3s ease;
    span{
      @extend .h6;
      color: $white;
      margin-bottom: 0;
      padding: .25rem 0;
      display: block;
      transform: translateY(-.1rem);
    }
    &::before{
      right: .75rem;
      left: auto;
      border-width: 0 .75rem .75rem 0;
      border-color: transparent $inverse-bg transparent transparent;
    }
  }
  a:hover{
    .featured-image{
      filter: grayscale(90%);
    }
    .col-image::before{
      opacity: 0.85;
    }
    .col-image{
      opacity: .6;
      transform: translateY(.5rem);
    }
    .col-text{
      transform: translateY(-.5rem);
    }
    .chat-bubble{
      opacity: 1;
      bottom: 1.7rem;
    }
  }
}
