.callout-fullwidth {
  padding: 3rem calc((50% - 50vw) * -1);
  margin: 0 calc(50% - 50vw);
  -webkit-font-smoothing: antialiased;
  position: relative;
  // z-index: -1;
}

.events, .insights{
  .callout-fullwidth{
    @include media-breakpoint-only(lg){
      padding-left: calc((50% - 75vw) * -1);
      margin-left: calc(50% - 75vw);
      padding-right: $grid-gutter-width-base/2;
      margin-right: -($grid-gutter-width-base/2);
    }
  }
}
