.filter-bar {
  // margin-top: 1.6rem;
  margin-top: 5rem;
  display: none;
  // position: sticky;
  top: 100px;
  margin-left: 1.25rem;

  @include media-breakpoint-up(md) {
    display: block;
  }

  .label-lg {
    color: $gray;
    margin-bottom: 1rem;
  }
  .media-list {
    margin: .5rem 0 2rem;
  }
  .media {
    // align-items: center;
    margin-bottom: .5rem;
    h6 {
      margin-bottom: 0;
      transition: all .3s ease;
      @extend .underline-change;
      background-size: 0% 1px !important;
      background-position: center 98% !important;
      display: inline-block;
    }
  }
  img,
  svg {
    opacity: .3;
    transition: opacity .3s ease;
    margin-right: .75rem;
  }

  a:hover,
  .nuxt-link-exact-active,
  .active {
    @extend .fill-change;
    .media h6 {
      background-size: 100% 1px !important;
    }
    svg {
      opacity: 1;
    }
  }
  .nuxt-link-exact-active,
  .active {
    .media h6 {
      @extend .color-change;
    }
    .btn {
      opacity: 0;
      transform: translateY(3px);
    }
  }
}
