.img-hero {
  height: 300px;
  width: 100%;
  // margin-left: -15px;
  // margin-right: -15px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -30px;

  @include media-breakpoint-up(md) {
    height: 70vh;
    margin-top: -50px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($black, .1);
  }

  figcaption {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $white;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 2px 2px 2px rgba($black, .2);
    transform: rotate(90deg);
    transform-origin: bottom right;
  }
}
