#share {
  // z-index: 10;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  @include media-breakpoint-up(lg){
    align-items: center;
    margin-left: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    padding-top: 2rem;

  }
  a{
    display: inline-block;
    margin-top: .5rem;
    margin-right: 1rem;
    @include media-breakpoint-up(lg){
      display: block;
      margin: .3rem 0;
    }
  }
  svg{
    transition: all .3s ease;
  }

  a:hover{
    svg{
      transform: translateY(-3px);
    }
  }
}
