.testimonial{
  background-color: $white;
  margin-right: -5000px;
  margin-left: -5000px;
  padding: 3rem 5000px;
  .row{
    align-items: center;
    justify-content: center;
  }
  .col-md-8{
    flex: 1 1;
    max-width: 100%;
  }
  blockquote{
    position: relative;
    margin: auto;
    &::before{
      content:'\201C';
      font-size: 200px;
      line-height: .9;
      display: block;
      position: absolute;
      font-weight: 700;
      font-family: $font-family-sans-serif;
    }
    h3{
      padding-top: 80px;
      p{
        font-size: inherit;
      }
    }
  }
  img{
    display: none;
    @include media-breakpoint-up(md){
      display: block;
    }
  }
}
