@import "fonts";

@import "settings";
@import "foundation-emails";

body,
html,
p,
a,
h1,
h2,
h3,
h4 {
  hyphens: none;
  font-smooth: never;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: $primary-color;
  text-decoration-color: $primary-color;

}

.header .logo-text {
  margin-left: 10px;
}
.logo-text {
  text-align: left;
  // font-size: 0.9rem;
  font-size: 15px;
  line-height: 1.3;
  font-family: $header-font-family;
  font-weight: 600;
  color: $primary-color;
  display: inline-block;
}

.header {
  background-color: white;
  .container {
    width: 565px;
  }
}

.footer .logo-text {
  color: white;
}

.the-color {
  color: $primary-color;
}

.header svg {
  height: 5rem;

  fill: $primary-color;
}

.bg-the-color {
  background-color: $primary-color;
}

table.container.main {
  background-color: $light-gray;
}

.date.main-date {
  // font-size: 0.875rem;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: 1px;
}

h1 {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: $dark-gray;
  a {
    font-family: $header-font-family;
    color: $dark-gray;
    line-height: 1;

    @extend .underline;
    font-weight: bold;
  }
  text-transform: none;
}

h2 {
  text-align: center;
  @extend .underline;
  background-position: 0 100%;
  line-height: 1.1;
}

h3 {
  color: $dark-gray;
  a {
    font-weight: bold;
    color: $dark-gray;

    font-family: $header-font-family;
    @extend .underline;
    line-height: 1.1;
  }
}

h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  // font-size: 0.875rem;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  font-size: 1.0625rem;
  // font-size: 21px;
  a {
    line-height: 1.4;
    color: $primary-color;
    text-decoration: none;
    @extend .underline;
  }
}

table tbody tr td .body p a {
  @extend .underline;
}

// .body {
//   // padding: 0 1.5rem;
//   padding: 0 30px;
//   //font-family: $body-font-family;
// }

.body p {
  color: $primary-color;
  font-family: $body-font-family;
}

table.button table td a {
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: 0.75px;
}

.media {
  padding-bottom: 0.5rem;
  padding-bottom: 10px;
  h4,
  img,
  div {
    display: inline;
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
  img.featured {
    width: 100%;
    height: 100%;
  }
  img {
    height: 25px;
  }
  svg {
    max-width: 30px;
    max-height: 30px;
  }
  h4 {
    line-height: 1;
    // padding-left: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.entry {
  background-color: white;
  // padding-bottom: 2rem;
  padding-bottom: 40px;
}

.featured {
  img {
    width: 100%;
  }
  &.columns.first:not(.reverse) {
    padding-bottom: 0;
    padding-left: 0;
  }
  &.reverse .columns.last {
    padding-bottom: 0;
    padding-right: 0;
  }
}

.author img {
  border-radius: 12.5px;
  width: 25px;
  height: 25px;
}

table.row.event {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.event-date {
  width: 60px;
  height: 60px;
  background-color: $dark-gray;
  .month,
  .date {
    text-align: center;
    display: block;
    font-family: $header-font-family;
    font-weight: 600;
    color: white;
    line-height: 1.1;
  }
}

a .event-date span {
  background: none;
  text-decoration: none;
}

.share {
  svg,
  img {
    max-height: 20px;
    max-width: 20px;
    display: inline;
    // &:not(:last-child){
    //   padding-right: 40px;
    // }
  }
  div a {
    display: inline;
  }
  // .not-first {
  //   padding-left: 40px;
  // }
  // > div a:not(:last-child) {
  //   padding-right: 40px;
  // }
}

.footer {
  background-color: black;
  td {
    color: white;
  }
  svg {
    fill: white;
  }

  .logo {
    width: 105px;
  }
  ul {
    list-style-type: none;

    li {
      &,
      a {
        color: white;
        // font-size: 0.9rem;
        font-size: 18px;
        line-height: 1.22;
        font-weight: 600;
        font-family: $header-font-family;
      }
    }
  }

  .unsubscribe a {
    color: white;
    font-size: 12px;
    font-family: $header-font-family;
    text-decoration: underline;
  }
}

.share svg {
  fill: black;
}

// .wrapper.entry .wrapper-inner {
//   .content {
//     padding: 10px 25px;
//   }
// }

.event {
  .month {
    // font-size: 0.9375rem;
    font-size: 18.75px;
  }
  .date {
    // font-size: 1.5rem;
    font-size: 20px;
  }
}

th.columns.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

th.columns.no-left {
  padding-left: 0;
}

th.columns.no-right {
  padding-right: 0;
}

.hero {
  max-width: 565px;
}

.side-lines {
  h2 {
    text-decoration: none;
  }
  .line {
    padding-top: 5px;
    hr {
      border-color: $primary-color;
      border-style: solid;
    }
  }
  .text {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.image-cover {
  background-size: cover;
}

// .hero {
//   width: 585px;
//   height: 295px;
// }

// .featured {
//   min-width: 235px;
//   min-height: 265px;
//   height: 100%;
//   width: 100%;
// }

.icon {
  width: 25px;
  height: 25px;
}

// .small {
//   font-size: 14px;
//   font-size: .875rem;
// }

ul {
  list-style-type: none;
}

td {
  word-break: keep-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.address {
  th, th a {
    color: white;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 600;
    font-family: $header-font-family;
  }
}

#facebook, #twitter, #linked-in {
  width: 100%;
}

#facebook {
  max-width: 22px;
  max-height: 40px;
  height: 40px;
}
#twitter {
  max-width: 48px;
  max-height: 40px;
  height: 40px;
}
#linked-in {
  max-height: 40px;
  max-width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  #facebook {
    max-width: 11px;
    max-height: 20px;
    height: 20px;
  }
  #twitter {
    max-width: 24px;
    max-height: 20px;
    height: 20px;
  }
  #linked-in {
    max-width: 20px;
    max-height: 20px;
    height: 20px;
  }
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

@media only screen and (max-width: 545px) {
  table.body .no-x-padding-small {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
